html {
  box-sizing: border-box;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: #222222;
  background-image: url("../img/bckgrnd.jpg");
  background-color: #fffef5;
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

/*-- HEADER --*/
.header {
  color: #fffef5;
  height: 90px;
  background: #102724;
}

.header-wrapper {
  align-items: center;
  padding: 10px 0;
}

.logo img {
  display: block;
}

.nav-link {
  margin-left: 44px;
  text-decoration: none;
  color: #fffef5;
}

/*-- /HEADER --*/
/*-- BLOG --*/
.blog-tittle {
  margin: 90px 0 45px;
  align-items: center;
}

.polaroids {
  flex-wrap: wrap;
  margin: 0 -15px;
}

.polaroid-card {
  margin: 15px;
  max-width: 370px;
  background: #ffffff;
}
.polaroid-card a {
  display: block;
}

/*-- /BLOG --*/