$scnd-color:  #faff38;
$light-color: #fffef5;

@font-face {
font-family:"Klyakson";
src: url("../font/Klyakson.otf") format("opentype");
}

*{box-sizing: inherit;
	box-sizing: border-box;}
img{max-width: 100%;
    height: auto;}  
a{text-decoration: none;
	color: inherit;}
p,span,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
a:focus, button:focus {outline: $scnd-color auto 2px;}
body{
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: #222222;

  background-image: url("../img/bckgrnd.jpg");
  background-color: $light-color;
  width: 100%;
	&.lock{overflow: hidden;}
}

.container {
	max-width: 1170px;
	margin: 0 auto;
  @media (max-width: 1200px){max-width: 970px;}
  @media (max-width: 992px){max-width: calc(100% - 40px); padding: 0 20px;}
  @media (max-width: 479px){max-width: calc(100% - 20px); padding: 0 10px;}
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
.link {}

.page{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}



/*-- HEADER --*/

.header {
	color: $light-color; 
	height: 90px;
	background: #102724;
	z-index: 4;
	@media (max-width: 767px) {	
		position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.header-wrapper{
	align-items: center;
	padding: 10px 0;
}

.logo {
	z-index: 3;
	img{
		display: block;
	}
}
.nav-burger {
    @media (max-width: 767px) {
        display: block;
        position: relative;
        z-index: 3;
        width: 30px;
        height: 20px;
        margin-left: 20px;
        span{
            content: '';
            background-color: $light-color;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all 0.3s ease 0s;}
        &::before,&::after{
            content: '';
            background-color: $light-color;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;}
        &::before{top: 0;}
        &::after{bottom: 0;}
        &.active{
            span{transform: scale(0);}
            &::before{transform: rotate(45deg);top: 9px;}
            &::after{transform: rotate(-45deg);bottom: 9px;}
}}}

.nav {
	a:active, a:hover{
		color: $scnd-color;
	}
  @media (max-width: 767px) {
      position: fixed;
      z-index: 2;
      text-align: right;
      top: -100%;
      left: 0;
      width: 101%;
      height: auto;
      overflow: auto;
      padding: 90px 30px 15px 15px;
      transition: all 0.5s ease-out 0s;
      color: $light-color;
      background-color: #102724;
      &.active{top:0;}
    }
}

.nav-link {
	margin-left: 44px;
	text-decoration: none;
	color: $light-color; 
	@media (max-width: 1200px){margin-left: 25px;}
	@media (max-width: 767px) {display: inline-block; font-weight:600;font-size: 20px; margin-bottom: 20px;}
}

/*-- /HEADER --*/

/*-- BLOG --*/
.blog {
	margin-bottom: 102px;
}
.blog-tittle {
	margin: 130px 0 45px;
	align-items: center;
	flex-wrap: wrap;
	h1{
		font-weight: 500;
		font-size: 60px;
		line-height: 70px;
		display: inline-block;
		padding-bottom: 20px;
	}
	span{
		font-weight: 400;
		font-size: 32px;
		line-height: 37px;
		display: inline-block;
		padding-left: 20px;
	}
}
.search-container{
	position: relative;
	outline: none;
}
.search-field {
  border: 1px solid #dddddd;
  background-color: #dddddd;

  padding: 15px 56px 15px 24px;
  border-radius: 3px;
  outline-color: #555;
  outline-width: 2px;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  
  width: 100%;
  line-height: 1.3;	
  &:focus{ 

  }

}
.search-button {
  background-image: url(../img/search.svg);
  background-size: cover;
  background-color: transparent;  
  width: 24px;
  height: 24px;

  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  opacity: 0.9;
  &:focus{outline: #555 auto 2px;}
}

.polaroids {
	flex-wrap: wrap;
	margin: 0 -15px;
	@media (max-width: 1200px){margin: 0 -10px;}
}
.polaroid-card {
	max-width: 370px;
	margin: 0 15px 50px;
	padding: 31px;
	padding-bottom: 18px; 

	box-sizing: border-box;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);

	background: #ffffff;
	transition: all 0.1s ease-out;
	&:hover{transform: scale(1.02);}

	@media (max-width: 1200px){margin: 0 10px 50px;
	padding: 26px;
	padding-bottom: 15px; 
	max-width: 310px;}
	@media (max-width: 992px){flex-basis:30%;	max-width: none;}
	@media (max-width: 859px){flex-basis:45%;}
	@media (max-width: 579px){flex-basis:100%;}

	a {display: block;}
	img{
		display: inline-block;
		background-color: #c4c4c4;
		width: 308px;
		height: 330px;
		margin-bottom: 20px;     
    object-fit: cover;
    position: relative;  
    top: 0;
    left: 0;
		@media (max-width: 1200px){width: 258px;
		height: 276px;
		margin-bottom: 15px;}
		@media (max-width: 992px){width: 100%; height: 250px;}
		@media (max-width: 767px){height: 200px;}	
	}
	h2{
		font-family:"Klyakson";
		font-size: 20px;
		line-height: 24px;
		@media (max-width: 992px){font-size: 18px;}
	}
}

/*-- /BLOG --*/

/*-- FOOTER --*/
.footer {
	color: $light-color; 
	height: 120px;
	background: #102724;
	margin-top: auto;
	padding: 20px 0 0;
}
.footer-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	p{
		font-size: 24px;
		line-height: 28px;
	}
}
.social-link {
	display: flex;
	margin-bottom: 15px;
	svg{
		fill: $scnd-color;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		margin: 0 7.5px;
		transition: all 0.1s ease-out;
		&:hover{transform: scale(1.1);}
	}
}

/*-- /FOOTER --*/
